= content_for :title, "Home"

#rules
  %ol
    %li
      You do not talk about FIGHT CLUB.
    %li
      You DO NOT talk about FIGHT CLUB.
    %li
      If someone says "stop" or goes limp, taps out the fight is over.
    %li
      Only two guys to a fight.
    %li
      One fight at a time.
    %li
      No shirts, no shoes.
    %li
      Fights will go on as long as they have to.
    %li
      If this is your first night at FIGHT CLUB, you HAVE to fight.
